# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: Sven Eckelmann <sven@narfation.org>

*.d
*.o

/ap51-flash
/ap51-flash*.exe
/ap51-flash-osx
/ap51-flash-res
/docs/_build/

/npcap-sdk/
/WpdPack/
/test.img
