# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: Sven Eckelmann <sven@narfation.org>

* text=auto

*.c text diff=cpp
*.h text diff=cpp
*.rst text
*.py text diff=python
*.rst text
Makefile text
